{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2 class="text-center text-info", font-weight="bold">Gestion playlist<h2>
    <h3>
        Nouvelle playlist: </h3>
         {{ form_start(formplaylist) }}               
         {{ form_end(formplaylist) }}
{% endblock %}
